@import './base.css';

body{
    display: flex;
 align-items: center;
 justify-content: center;

}

#app {
  width: 100%;
  display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
 position: relative;
}

@media screen  and (max-width:1340px){
  #app{
     flex-direction: column;
     width: 100%;
}

.navigation{
  position: fixed;
  margin-right: auto;
  margin-left: -3rem;
}

@media screen  and (max-width:780px){
  
.navigation{
  position: fixed;
  margin-right: 0;
  margin-left: 0rem;
}

  #app{
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
}

}





}
